@charset "UTF-8";

#navbarNav .navbar-nav:last-of-type .dropdown-menu {

	left: auto;
	right: 0;
}


.dropdown-toggle {
	font-size: 20px;
    padding: 0.5em 1rem !important;
    /*padding-top: 0.75em !important;*/
    text-transform: uppercase;
}

.dropdown-toggle.active {
    font-weight: 500;
    /*font-size: 22px;*/
}

/*.dropdown-toggle.active:before {
	content: attr(data-title);
	display: block;
    font-size: 12px;
    position: absolute;
    top: 0.5em;
}*/



@media screen and (min-width: 992px){

	.navbar-brand {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

	    background-color: #f7f7f7;
	    border-radius: 100px;
	    padding: 0.5em;
	}

	.navbar-brand img {
	    margin-top: 1.5em;
	}

}