@charset "UTF-8";


body {
	overflow: hidden;
	background-color: #061639;
}

#particles-js {
	background-color: #061639;
}


nav {
	opacity: 0;
}



#navbarNav .navbar-nav:last-of-type .dropdown-menu {

	left: auto;
	right: 0;
}


.dropdown-toggle {
	font-size: 20px;
    padding: 0.5em 1rem !important;
    /*padding-top: 0.75em !important;*/
    text-transform: uppercase;
}

.dropdown-toggle.active {
    font-weight: 500;
    /*font-size: 22px;*/
}

/*.dropdown-toggle.active:before {
	content: attr(data-title);
	display: block;
    font-size: 12px;
    position: absolute;
    top: 0.5em;
}*/


.dropdown-menu {
	padding: 0;
}

.dropdown-item {
	padding: 0.4em 1.5em;
}


.dropdown-item:focus, .dropdown-item:hover {
    background-color: #f7f7f7;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: transparent;
    border-left: 5px solid #c8102e;
    color: #c8102e;
    font-weight: bold;
}


.modal.show .modal-dialog {
    -webkit-transform: translate(0, 25%);
    -o-transform: translate(0, 25%);
    transform: translate(0, 25%);
}


.modal-backdrop {
	opacity: 0 !important;
}


.modal-header img {
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -20%;
}


.modal-header {
	border: 0;
}

.modal-body {
	padding: 30px;
}

.modal-body p {
	font-size: 1.25em
}

.modal-body p:last-of-type {
	margin-bottom: 0;
}


.close {
	font-size: 2.25rem;
	color: #061639;
}

.close:focus, .close:hover {
	color: #061639;
}


@media screen and (min-width: 992px){

	.navbar-brand {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

	    background-color: #f7f7f7;
	    border-radius: 100px;
	    padding: 0.5em;
	}

	.navbar-brand img {
	    margin-top: 1.75em;
	}

}